/* SELECT2 */
select.select2{
	height: auto !important;
	line-height: 1 !important;
	width: 100% !important;
}
.select2-container{
	font-size: 10pt;
}
.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--multiple{
  height: 32px !important;
  line-height: 30px !important;
  border: 1px solid #eee !important;
  background-color: #fafafa !important;
  font-size: 9pt !important;
  color: #000 !important;
  border-radius: 5px !important;
  outline-color: transparent !important;
}
.select2-container--default .select2-selection--single{
  border: none !important;
  background: unset !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  background-color: transparent !important;
  border: none !important;
}
.select2-search--dropdown{
	padding: 5px 5px 0 !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  padding-left: 10px !important;
  border-radius: 5px !important;
	background-color: #fafafa !important;
  border: 1px solid #eee !important;
	outline: none !important;
	height: 30px !important;
	line-height: 30px !important;
}
.select2-container--default .select2-selection--multiple{
  height: auto !important;
  line-height: 0 !important;
	border: 1px solid #fafafa !important;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple{
  background-color: #fafafa !important;
  cursor: not-allowed !important;
}
.select2-selection--multiple .select2-selection__choice{
  line-height: 2.2 !important;
  margin: 2px !important;
  cursor: pointer !important;
  border-radius: 3px !important;
  border: none !important;
  background-color: #e8effd !important;
  color: #137eff !important;
  font-weight: bold !important;
  padding: 0px 10px 0px 5px !important;
  font-size: 9pt !important;
}
.select2-selection--multiple .select2-selection__choice__remove{
  border: none !important;
  background-color: #e8effd !important;
  color: #137eff !important;
  margin: 0px 5px 0px 2px !important;
  border-radius: 10px !important;
}
.select2-search--inline .select2-search__field{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 10px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  border-color: #fafafa !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  -webkit-transform: rotate(45deg) !important;
  -moz-o-transform: rotate(45deg) !important;
  -o-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  width: 8px !important;
  height: 8px !important;
  border-width: 1px !important;
  border-color: transparent #333 #333 transparent !important;
  margin-left: -10px !important;
  margin-top: -7px !important;
}
.select2-dropdown{
  border: none !important;
  -webkit-box-shadow: 0px 1px 4px 0px #ccc !important;
  box-shadow: 0px 1px 4px 0px #ccc !important;
}
.select2-results__option{
  padding: 5px 7px !important;
  margin: 2px 5px !important;
  border-radius: 5px !important;
}
.select2-container--open .select2-dropdown--below{
  border-radius: 10px !important;
}
.select2-dropdown{
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,.08) !important;
}
.select2-results::after{
  content: 'by Reja Jamil' !important;
  margin-top: 3px !important;
  padding: 5px 10px !important;
  font-size: 8pt !important;
  text-align: right !important;
  display: block !important;
  width: 100% !important;
  border-top: 1px solid #ddd !important;
  color: #777 !important;
}
.select2-results__option[aria-selected]{
  font-size: 8pt !important;
  font-weight: 400;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background: #fafafa!important;
  font-weight: 600 !important;
  color: #000 !important;
}
.select2-results__option--highlighted {
  background-color: #fafafa !important;
  color: #000 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
  padding: 5px !important;
}
.select2-container--default .select2-search--inline .select2-search__field{
  /* width: 100% !important; */
	height: -webkit-fill-available !important;
}
.select2-container--default .select2-results>.select2-results__options{
  padding-top: 0 !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 10px !important;
}
.has-icon .select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 30px !important;
}
.input-with-icon-left .select2-container--default .select2-selection--multiple .select2-selection__rendered{
	padding: 5px 35px !important;
}
